name: iOS starter workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Validate Xcode Project
        run: |
          if ls ios/App | grep -qE '\.(xcworkspace|xcodeproj)$'; then
            echo "Workspace/Project found, proceeding..."
          else
            echo "No Xcode workspace or project found in the directory."
            exit 1
          fi
      - name: Set Default Scheme
        run: |
          cd ios/App
          scheme_list=$(xcodebuild -list -json 2>/dev/null || echo "{}")
          if echo "$scheme_list" | jq empty 2>/dev/null; then
            default=$(echo "$scheme_list" | ruby -e "require 'json'; puts (JSON.parse(STDIN.gets)['project'] || {})['targets']&.first || 'App'")
          else
            echo "Error: Unable to parse scheme list. Using fallback scheme 'App'."
            default="App"
          fi
          echo $default | cat >../../default
          echo Using default scheme: $default
      - name: Build
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
        run: |
          # xcrun xctrace returns via stderr, not the expected stdout (see https://developer.apple.com/forums/thread/663959)
          device=`xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk '{$1=$1;print}' | sed -e "s/ Simulator$//"`
          if [ $scheme = default ]; then scheme=$(cat default); fi
          xcodebuild build-for-testing \
            -scheme "$scheme" \
            -project "ios/App/Apex Protocol.xcodeproj" \
            -destination "platform=$platform,name=$device"
      - name: Test
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
        run: |
          # xcrun xctrace returns via stderr, not the expected stdout (see https://developer.apple.com/forums/thread/663959)
          device=`xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk '{$1=$1;print}' | sed -e "s/ Simulator$//"`
          if [ $scheme = default ]; then scheme=$(cat default); fi
          xcodebuild test-without-building \
            -scheme "$scheme" \
            -project "ios/App/Apex Protocol.xcodeproj" \
            -destination "platform=$platform,name=$device"
